<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attraction.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @attraction.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @attraction.longitude %>
</p>

<p>
  <b>Image:</b>
  <%= @attraction.image_url %>
</p>


<%= link_to 'Edit', edit_attraction_path(@attraction) %> |
<%= link_to 'Back', attractions_path %>
